.ad-image {
    width: 1200px;
}

.about-computing {
    margin: 50px;
    background-color: rgb(222, 222, 228);
    border-width: 2px;
    padding-top: 15px;
    border-radius: 5px;
    border-color: rgb(228, 241, 241);
}
.title {
    text-align: left;
    font-weight: 700;
    margin: 8px;
}
.content {
    text-align: left;
    margin: 10px;
}
.entire-page {
    margin-bottom: 150px;
}