.page-title {
    margin: 50px 70px;
    height: 60px;
    text-align: center;
    border: solid;
    border-width: 2px;
    padding-top: 15px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    border-color: rgb(228, 241, 241);
    background-color: rgb(222, 222, 228);
}

.advert-image {
    width: 1800px;
    /* height: 700px; */
}
.ad-image {
    width: 400px;
    height: 80px;
}
.all {
    margin-bottom: 100px;
}