.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 40px;
    margin-top: 30px;
    height: 300px;
    background-color: rgb(235, 225, 225);
}

.sidebar-react-icon{
    margin-left: 10px;
}

.sidebar-text{
    margin-left: 20PX;
}
.sidebar-text:hover{
    margin-left: 20PX;
    font-weight: bold;
}

.sidebar-link {
    height: 75px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}



.image-slider-section {
    margin-left: 60px;
    margin-top: 60px;
    margin-right: 0px;
}




.main-section {
    display: grid;
    grid-template-columns: 200px 85%;

}

.products-display {
    margin-top: 20px;
}

.body {
    margin-bottom: 130px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
}
.selected-items {
    display: flex;
}
.product-grid-header {
    display: flex;
    justify-content: space-between;
}
.product-grid-product-count {
    text-align: left;
    margin: 10px;
}
.product-grid-header-left {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
}
hr {
    color: rgb(212, 133, 30);
    margin: 0px;
}
