.product-profile {
    display: grid;
    grid-template-columns: 450px 1fr ;
}


.product-profile-image {
    width: 400px;
    border-radius: 4px;
}
.container {
    padding: 20px;
    margin-bottom: 160px;
}
.top-info {
    display: flex;
    justify-content: space-between;
}

.top-info .top-text {
    background-color: rgb(49, 204, 204);
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.top-info .top-discount {
    padding: 4px 8px;
    color: #f57004;
    background-color: #dddad7;
    border-radius: 3px;
}

.p-description,
.p-price,
.p-discount,
.p-qty,
.p-category,
.p-name {
    text-align: left;
    margin: 10px 1px;
}

.p-name {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
.p-description {
    font-size: 15px;
    color: rgb(12, 48, 31);
}
.p-category {
    font-style: italic;
    font-weight: 700;
}
.p-price {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p-price .p-discount {
    text-decoration: line-through;
    color: rgb(107, 79, 36);
    font-size: 14px;
    margin-left: 20px;
}
.p-qty {
    color: #cc0b7c;
    font-weight: bold;
}
.add-to-cart {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #f78223;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
    margin-bottom: 5px;
}
.add-to-cart:hover {
    background-color: #ff7300;
    color: aliceblue;
    font-weight: 900;
}
.add-to-cart:active {
    background-color: #275253;
    color: aliceblue;
    font-size: large;
}
.add-to-cart .cart {
    margin-right: 20px;
}
#cart-notification {
    color: red;
    position: relative;
    display: flex;
    background-color: darkgray;
}




.share,
.icon {
    text-align: left;
    font-weight: bold;
    margin: 5px;
}