.jumia-top {
    width: 50px;
}
.jumia-bottom {
    margin: 50px;
}
.execute{
    background-color: #e26804;
    border-style: none;
    color: white;
}
.container {
    background-color: white;
}
.form-control {
   width: 100%;
}

.line-vendor {
    color: black;
}