.footer {
  display: inline-block;
    background-color: #1d1414;
    padding: 20px;
    text-align: center;
    color: #777;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100px;
    z-index: 1000;
  }
  
  .footer a {
    color: #777;
    text-decoration: none;
  }
  
  .footer p:hover {
    color: #daa000;
    font-weight: bold;
  }
  