.with-tooltip {
    position: relative;
  }
  .icons-text {
    color: black;
    text-decoration: none;
    margin-left: 4px;
  }

  .top-right {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
  }

  .searchbtn {
    background-color: #e26804;
  }
  .top-right .bold {
    font-weight: 700;
    margin-right: 20px;
  }

  .searchbtn:hover {
    background-color: #be5b09;
  }
  .form-control {
    width: 300px;
    height: 50px;
    align-self: center;
  }

  .navbar {
    background-color:#f8f8f8;
    z-index: 1000;
  }
  .d-flex {
    width: 350px;
  }

  .logo-image {
    height: 40px; 
  }
  
  .icons {
    display: flex;
    margin-right: 15px;
  }
  

  .with-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

  .with-tooltip:hover::after {
    opacity: 1;
  }
  .signin {
    background-color: #f57004;
  }

  .signin:hover {
    background-color: #ffffff;
    color: #e26804;
    border-style: solid;
    border-radius: 10px;
    border-color: #be5b09;
  }

  .dropdown-item:hover {
    background-color: #ffffff;
    color: #e26804;
  }

  .cart-tooltip {
    position: relative;
    margin-right: 7px;
    color: #000;
  }
  .cart-tooltip-value {
    position: absolute;
    top: -7px;
    left: 17px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: 20px;
    background-color: #be5b09;
    border-radius: 11px;
  }

  .bold .amount {
    font-size: 12px;
  }